header{
    background-image: url("Imagenes/wallpaper.png");
    background-size: cover;
    border-bottom: solid 3px #DC143C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5em;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title{
    color: #EDC309;
    font-weight: 600;
    margin-left: 20px;
    font-size: 1.7em;
}

.cerrarSesion{
    color: #202020;
    background-color: #EDC309;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-weight: 600;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 50px;
    transition: 100ms background-color;
}

.cerrarSesion:hover{
    background-color: #d3ae06;
}