/*----------MAIN----------*/
main{
    background-color: #333333;
    margin: 10px 15px;
    padding: 1em 1.5em;
    width: 720px;
    height: 800px;
    border-radius: 10px;
}

main .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

main h2{
    font-weight: 600;
    color: #EDC309;
    font-size: 1.5em;
}

main button{
    padding: .7em;
    border-radius: 5px;
    background-color: #EDC309;
    color: #fffafa;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border: none;
}

main button:hover{
    background-color: #EDC309;
    color: #202020;
}

main .header button i{
    margin-left: 5px;
    font-size: 1.3em;
}

/*----------MATERIAS----------*/
.materias .m{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    border-radius: 15px;
    padding: 4px 8px;
    height: 45px;
    margin-bottom: 10px;
}

.m a{
    width: 100%;
    height: 100%;
    padding: 4px 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 500;
}

.m a:hover{ text-decoration: underline; }

.newSubject{
    width: 450px;
    display: none;
    font-size: 1em;
}

/*----------SEMESTRES----------*/
.container a, .container .nombre{ font-size: 1em; }
.m a, .m .nombre{ font-size: 1em; }

.cursados .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    padding: 8px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 2.8em;
}

.container a{
    color: #fff;
    font-weight: 500;
    width: 100%;
}

.container a:hover{ text-decoration: underline; }

.container .nombre, .m .nombre{
    background-color: #59636e;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    color: #fff;
    outline: none;
    width: 100%;
}

.container .nombre:focus, .m .nombre:focus{
    background-color: #f1f1f1;
    color: #000;
}

.guardar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EDC309;
    background-color: #333333;
    border: none;
    outline: none;
    padding: 3px;
    margin-left: 5px;
    height: 2em;
    width: 2em;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}

.guardar i{
    position: relative;
    right: 2px;
}

#confirm:hover{ background-color: #228B22; color: #EDC309; }
#cancel:hover{ background-color: #DC143C; color: #EDC309; }

.semestres .cursados{
    padding: 5px 3px;
    border-radius: 5px;
    height: auto;
}
